1/obj/1.csproj.nuget.dgspec.json
1/obj/1.csproj.nuget.g.props
1/obj/1.csproj.nuget.g.targets
1/obj/project.assets.json
1/obj/project.nuget.cache
2/obj/2.csproj.nuget.dgspec.json
2/obj/2.csproj.nuget.g.props
2/obj/2.csproj.nuget.g.targets
2/obj/project.assets.json
2/obj/project.nuget.cache
obj/c--.csproj.nuget.dgspec.json
obj/c--.csproj.nuget.g.props
obj/c--.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/c--.AssemblyInfo.cs
obj/Debug/net7.0/c--.AssemblyInfoInputs.cache
obj/Debug/net7.0/c--.assets.cache
obj/Debug/net7.0/c--.csproj.AssemblyReference.cache
obj/Debug/net7.0/c--.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/c--.csproj.FileListAbsolute.txt
obj/Debug/net7.0/c--.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/c--.GlobalUsings.g.cs
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/c--.AssemblyInfo.cs
obj/Debug/net7.0/c--.AssemblyInfoInputs.cache
obj/Debug/net7.0/c--.assets.cache
obj/Debug/net7.0/c--.csproj.AssemblyReference.cache
obj/Debug/net7.0/c--.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/c--.csproj.FileListAbsolute.txt
obj/Debug/net7.0/c--.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/c--.GlobalUsings.g.cs
obj/c--.csproj.nuget.dgspec.json
obj/c--.csproj.nuget.g.props
obj/c--.csproj.nuget.dgspec.json
obj/c--.csproj.nuget.g.props
obj/c--.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/c--.AssemblyInfo.cs
obj/Debug/net7.0/c--.AssemblyInfoInputs.cache
obj/Debug/net7.0/c--.assets.cache
obj/Debug/net7.0/c--.csproj.AssemblyReference.cache
obj/Debug/net7.0/c--.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/c--.csproj.FileListAbsolute.txt
obj/Debug/net7.0/c--.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/c--.GlobalUsings.g.cs
obj/c--.csproj.nuget.dgspec.json
obj/c--.csproj.nuget.g.props
obj/c--.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/c--.AssemblyInfo.cs
obj/Debug/net7.0/c--.AssemblyInfoInputs.cache
obj/Debug/net7.0/c--.assets.cache
obj/Debug/net7.0/c--.csproj.AssemblyReference.cache
obj/Debug/net7.0/c--.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/c--.csproj.FileListAbsolute.txt
obj/Debug/net7.0/c--.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/c--.GlobalUsings.g.cs
3/bin/Debug/net7.0/3.dll
3/bin/Debug/net7.0/3.pdb
3/bin/Debug/net7.0/3.dll
3/bin/Debug/net7.0/3.pdb
.gitignore
